.divButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    height: 100%;
}

.logoutButtonAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 142px;
    Height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-color: var(--color-white);
    border: 1px solid var(--brand-color-1);
    color: var(--brand-color-1);
    cursor: pointer;
}

.logoutButtonAdmin:hover {
    background-color: var(--brand-color-1);
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 60.625rem;
    height: 85vh;
    gap: 1rem;
}

.SectionSelectCompanie {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 3.25rem;
}

#selectCompanie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 18rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    background: var(--brand-color-1);
    color: var(--color-white);
    border: 0.0625rem solid var(--brand-color-1);
    -webkit-appearance: none;
    background: var(--brand-color-1) url('../assets/img/Polygon\ 1.svg') 95% 50% no-repeat;
}


.createDepButton {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 142px;
    Height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background: var(--brand-color-1);
    color: var(--color-white);
    border: 0.0625rem solid var(--brand-color-1);
    cursor: pointer;
}

.createDepButton:hover {
    background: var(--color-white);
    color: var(--brand-color-1);
    border: 0.0625rem solid var(--brand-color-1);
}

.departmentSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18rem;
    margin-bottom: 2rem;
}

.depTitleAdd {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 3.25rem;
    margin-bottom: 2rem;
}

.depTitleAdd>h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.departmentList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: auto;
    background: #F8F8F8;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.cardDep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 22.375rem;
    height: 7.25rem;
    margin: 2rem;
    margin-left: 2.5rem;
    padding: 0.75rem;
    border: 1px solid var(--brand-color-1);
}

.depName {
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 24px;
}

.depDescription {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
}

.companyName {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
}

.divButtons {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.editDep {
    width: 27.5px;
    height: 27.5px;
    cursor: pointer;
}

.viewDep {
    width: 32px;
    height: 22px;
    cursor: pointer;
}

.deleteDep {
    width: 22.5px;
    height: 25.5px;
    cursor: pointer;
}

.usersSection {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    height: 35vh;
    gap: 0.25rem;
}

.usersList {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 450px;
    max-height: 100%;
    flex-wrap: wrap;
    overflow: auto;
    background: #F8F8F8;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

.usersListTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 3.25rem;
}

.usersListTitle>h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 1rem;
}

.cardUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 22.375rem;
    height: 7.25rem;
    margin: 2rem;
    margin-left: 2.5rem;
    padding: 0.75rem;
    border: 1px solid var(--brand-color-1);
}

.userName {
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 24px;
}

.userCompanyName {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
}

.divButtonsUser {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.editUser {
    width: 27.5px;
    height: 27.5px;
    cursor: pointer;
}

.deleteUser {
    width: 22.5px;
    height: 25.5px;
    cursor: pointer;
}

.divInfos {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.ModalCreateDepartment {
    left: 30%;
    top: 30%;
    padding: 0;
    margin: 0;
    width: 506px;
    height: 432px;
    border: none;
}

.modalCreateDepContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 402px;
}

#modalCreateDepButton {
    display: flex;
    position: absolute;
    background-color: #36B37E;
    border: none;
    align-items: center;
    justify-content: center;
    top: 75%;
    width: 80%;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.createDepInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    gap: 0.75rem;
    margin-bottom: 15px;
}

.inputCreateDep {
    display: flex;
    align-items: center;
    width: 88.5%;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

#selectCompanieCreateDep {
    display: flex;
    align-items: center;
    width: 90%;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.titleEditDep {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.divTitleModalEditDep {
    display: flex;
    width: 82.5%;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

.closeButtonDiv {
    display: flex;
    width: 90%;
    height: 55px;
    align-items: flex-end;
    justify-content: flex-end;
}

.createDepCloseButton {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: #F8F8F8;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.ModalEditDep {
    width: 506px;
    height: 300px;
    border: none;
}

.editDepContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.divButtonEditDep {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.divTitleEditDep {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.closeModalEditDep {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: #F8F8F8;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: 1px solid #F8F8F8;
}

.inputEditDep {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 97%;
    height: 113px;
    top: 113px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.editDepButton {
    display: flex;
    position: absolute;
    background-color: #36B37E;
    border: none;
    align-items: center;
    justify-content: center;
    top: 75%;
    width: 92.4%;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF
}

.ModalEditEmployee {
    width: 506px;
    height: 300px;
    border: none;
}

.editEmployeeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.divButtonEditEmp {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.closeModalEditEmp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.divTitleEditEmp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.inputEditEmployee {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 97%;
    height: 48px;
    top: 113px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.editEmployeeButton {
    display: flex;
    position: absolute;
    background-color: #36B37E;
    border: none;
    align-items: center;
    justify-content: center;
    top: 75%;
    width: 92.4%;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF
}

.ModalDeleteDepartment {
    width: 733px;
    height: 222px;
    border: none;
}

.ModalDeleteEmployee {
    width: 733px;
    height: 222px;
    border: none;
}

.ModalDeleteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ModalDeleteEmployeeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeModalDeleteDepDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.deleteText {
    display: flex;
    width: 419px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}

.deleteDepartmentButton {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 422px;
    height: 48px;
    top: 70%;
    background-color: red;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.deleteEmployeeButton {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 422px;
    height: 48px;
    top: 70%;
    background-color: red;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}